/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);*/
@import url(http://fonts.googleapis.com/css?family=Raleway:600);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);*/

body{ 
	font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h5{
  font-family: 'Roboto Condensed', sans-serif;
}

footer{
  background-color: lightgrey;
  padding: 2em 2em 1em;
  border-radius: 5px;
  margin-top: 2em;
  text-align: center;
}

.avatar{
	border: 4px solid white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #808080;
}

.anotaciones, .club{
  margin: .6em 0;
  font-size: 2em;
}

.col-landing{
  
}

.dropdown-menu{
  font-size: 1em;
}

.header{
	margin-bottom: 3em;
}

.login{
	padding: 0em 4em 1em;
	border: 5px solid whitesmoke;
	margin-top: 2em;
}

.logo{
}

.nota p{
  margin: 0;
}

.paginate{
	text-align:center;
}

.title{
	display:inline-block;
	margin-left:.5em;
	vertical-align:middle;
}

/************************************************/

.typeahead,
.tt-query,
.tt-hint {
  	border: 2px solid #ccc;
  	font-size: 16px;
	height: 2.5em;
  	line-height: 24px;
  	padding: 8px 12px;
  	outline: none;
  	-webkit-border-radius: 8px;
       -moz-border-radius: 8px;
		    border-radius: 8px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
	width: 100%;
  margin-top: .2em;
  padding: .2em 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead{
	width: 100%;
}


/***************************************************/

ul.chosen-choices{
  height: 2em !important;
  border-radius: 3px;
}

.chosen-container{
  font-size: 15px;
}

.chosen-container-multi 
.chosen-choices 
li.search-field input[type="text"],
.chosen-container-single 
.chosen-single{
  height: 1.9em
}